@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: black;
    margin: 0px;
    color: white;
    font-family: "Roboto";
}

.page {
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    width: 100%;
    /* justify-content: center; */
}

.sideBar {
    background-color: black;
    width: 100%;
    padding: 40px;
    padding-top: 0px;
    display: flex;
    justify-content: end;
    flex: 1;
    top: 0px;
    left: 0px;
}
.mainContent {
    background-color: black;
    /* flex: 2; */
    position: relative;
    padding-top: 0px;
    align-items: stretch;
    width: 35%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

/* MAIN CONTENT */

.forYou_following {
    display: flex;
    position: sticky;
    justify-content: space-around;
    /* background-color: black; */
    text-align: center;
    flex-direction: row;
    top: 0px;
    border-bottom: 1px solid gray;
}

.foryou_button {
    display: flex;
    background-color: black;
    margin: 0px;
    height: auto;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1;
}

.foryou_button:hover {
    background-color: rgb(22, 22, 22);
}

.foryou_button_text {
    font-family: "roboto";
    font-size: 1rem;
    margin: 0px;
}

/* CREATE POST */

.post_tweet {
    display: flex;
    background-color: black;
    height: 120px;
    margin: 5px;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
}

.post_tweet_profile_image {
    display: inline;
    padding: 10px;
    flex: 1;
}

img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.post_tweet_input_container {
    width: 100%;
}

.post_tweet_input {
    background-color: black;
    height: 70px;
    width: inherit;
    box-sizing: border-box;
    border-radius: 20px;
    flex: 2;
    margin-left: 10px;
}

input {
    outline: none;
    border: 0px solid;
    font-size: 20px;
    color: white;
}

.post_tweet_button {
    display: flex;
    background-color: #1a8cd8;
    height: 40px;
    width: 130px;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    font-size: 11px;
    align-self: flex-end;
    justify-self: flex-end;
}

.post_tweet_button:hover {
    background-color: #167fc5;
}

.demo_post {
    background-color: rgb(33, 34, 34);
    height: 500px;
    margin: 5px;
}

/* SIDE BAR */

.sideBar_logo {
    font-size: 30px;
    padding-left: 10px;
}

ion-icon {
    font-size: 25px;
    color: white;
}

ul {
    position: fixed;
}

.sideBar_button {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
}

.sideBar_button:hover {
    background-color: #1b1b1b;
}

.sideBar_button_text {
    padding-left: 10px;
    font-family: "Roboto";
    font-weight: 100;
    color: white;
}

.sideBar_post_button_text {
    font-size: 1rem;
    color: white;
    font-family: "Roboto";
}

.sideBar_post_button {
    display: flex;
    background-color: #1a8cd8;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
}

.sideBar_post_button:hover {
    background-color: #167fc5;
}

/* Right Bar */

.rightBar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    flex: 1;
    padding: 10px 0px 0px 20px;
}

.rightBar_contents {
    position: fixed;
}

.search_container {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #16181c;
    border-radius: 30px;
    height: 40px;
}

.search_textInput {
    background-color: #16181c;
    font-size: 15px;
    margin-left: 10px;
}

.search_icon {
    font-size: 20px;
    color: gray;
}

.whats_happening_container {
    height: 500px;
    width: 300px;
    margin-top: 20px;
    background-color: #16181c;
    border-radius: 15px;
}

.whoToFollow_container {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    background-color: #16181c;
    border-radius: 15px;
}
