@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: black;
    margin: 0px;
    color: white;
    font-family: "Roboto";
}

.page {
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    width: 100%;
    /* justify-content: center; */
}

.sideBar {
    background-color: black;
    width: 100%;
    padding: 40px;
    padding-top: 0px;
    display: flex;
    justify-content: end;
    flex: 1;
    top: 0px;
    left: 0px;
}

.mainContent {
    background-color: black;
    /* flex: 2; */
    position: relative;
    padding-top: 0px;
    align-items: stretch;
    width: 35%;
    max-width: 600px;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
}

/* MAIN CONTENT */

.forYou_following {
    display: flex;
    position: sticky;
    justify-content: space-around;
    /* background-color: black; */
    text-align: center;
    flex-direction: row;
    top: 0px;
    border-bottom: 1px solid #424242;
}

.foryou_button {
    display: flex;
    background-color: black;
    margin: 0px;
    height: auto;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex: 1;
}

.foryou_button:hover {
    background-color: rgb(22, 22, 22);
}

.foryou_button_text {
    font-family: "roboto";
    font-size: 1rem;
    margin: 0px;
}

/* CREATE POST */

.post_tweet {
    display: flex;
    background-color: black;
    height: 120px;
    margin: 5px;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #424242;
}

.post_tweet_profile_image {
    display: inline;
    padding: 10px;
    flex: 1;
}

img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.post_tweet_input_container {
    width: 100%;
}

.post_tweet_input {
    background-color: black;
    height: 70px;
    width: inherit;
    box-sizing: border-box;
    border-radius: 20px;
    flex: 2;
    margin-left: 10px;
}

input {
    outline: none;
    border: 0px solid;
    font-size: 20px;
    color: white;
}

.post_tweet_button {
    display: flex;
    background-color: #1a8cd8;
    height: 40px;
    width: 130px;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    font-size: 11px;
    align-self: flex-end;
    justify-self: flex-end;
}

.post_tweet_button:hover {
    background-color: #167fc5;
}

/* POSTS */

.demo_post {
    /* background-color: rgb(33, 34, 34); */
    /* height: 500px; */
    margin: 5px;
}

.post_contents {
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: rgb(56, 49, 49); */
}

/* .post_profile {
    display: flex;
    justify-content: start;
    align-items: start;
} */

.post_profile_image {
    margin-top: 10px;
    margin-left: 10px;
}

.post_display_username {
    display: flex;
    padding-left: 10px;
    margin: 0px;
}

.post_display_username h3 {
    font-size: 15px;
    margin-bottom: 0px;
}

.post_display_username p {
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    color: gray;
}

.post_data {
    /* background-color: rgb(63, 42, 42); */
    height: 100%;
    width: 100%;
}

.post_text p {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 100;
}

.post_text img {
    margin: 10px;
    border-radius: 10px;
    width: inherit;
    height: inherit;
    max-height: 400px;
    max-width: 95%;
}

.post_bottom_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.post_buttom_single_button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_buttom_single_button ion-icon {
    font-size: 18px;
    color: gray;
}

.post_buttom_single_button ion-icon:hover {
    color: white;
}

.post_buttom_single_button p {
    font-size: 15px;
    color: gray;
    margin-left: 5px;
}

/* SIDE BAR */

.sideBar_logo {
    font-size: 30px;
    padding-left: 10px;
}

ion-icon {
    font-size: 25px;
    color: white;
}

ul {
    position: fixed;
}

.sideBar_button {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
}

.sideBar_button:hover {
    background-color: #1b1b1b;
}

.sideBar_button_text {
    padding-left: 10px;
    font-family: "Roboto";
    font-weight: 100;
    color: white;
}

.sideBar_post_button_text {
    font-size: 1rem;
    color: white;
    font-family: "Roboto";
}

.sideBar_post_button {
    display: flex;
    background-color: #1a8cd8;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
}

.sideBar_post_button:hover {
    background-color: #167fc5;
}

.sideBar_post_icon {
    display: none;
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
}

/* Right Bar */

.rightBar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    flex: 1;
    padding: 10px 0px 0px 20px;
}

.rightBar_contents {
    position: fixed;
}

.search_container {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #16181c;
    border-radius: 30px;
    height: 40px;
}

.search_textInput {
    background-color: #16181c;
    font-size: 15px;
    margin-left: 10px;
}

.search_icon {
    font-size: 20px;
    color: gray;
}

.whats_happening_container {
    height: 500px;
    width: 350px;
    margin-top: 20px;
    background-color: #16181c;
    border-radius: 15px;
}

.whatsHappening_text {
    display: flex;
    justify-content: start;
    margin-left: 15px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.whatsHappening_content {
    padding: 15px;
}

.whatsHappening_content h3 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
}

.whatsHappening_content p {
    font-size: 13px;
    margin: 5px 0px 0px 0px;
    color: gray;
}

.whatsHappening_tweet {
    margin-top: 20px;
}

.whatsHappening_tweet:hover {
    background-color: #1c1d22;
}

.whatsHappening_showMore {
    margin-left: 15px;
    margin-top: 10px;
    color: #1a8cd8;
}

.whoToFollow_container {
    margin-top: 20px;
    height: 300px;
    width: 350px;
    background-color: #16181c;
    border-radius: 15px;
}

.whoToFollow_profile_card {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    align-items: center;
}
.whoToFollow_profile_card:hover {
    background-color: #1c1d22;
}

.whoToFollow_profile_dn_username {
    margin-left: 10px;
}

.whoToFollow_profile_dn_username h3 {
    margin: 0px;
    font-size: 15px;
}

.whoToFollow_profile_dn_username p {
    margin: 0px;
    font-size: 13px;
    color: gray;
}

.whoToFollow_followButton {
    background-color: white;
    color: black;
    height: 35px;
    width: 80px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 124px;
}

.whoToFollow_followButton p {
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
}

.whoToFollow_followButton:hover {
    background-color: rgb(204, 204, 204);
}

@media (max-width: 1100px) {
    .sideBar {
        width: 100px;
        padding: 20px;
        flex: 0.2;
    }

    .sideBar ul {
        padding: 0px;
    }

    .sideBar_button_text {
        display: none;
    }
    .sideBar_button {
        width: inherit;
        padding: 18px;
    }
    .sideBar_post_button {
        width: 50px;
        margin-left: 10px;
    }
    .sideBar_post_button_text {
        display: none;
    }
    .sideBar_post_icon {
        display: block;
    }

    .mainContent {
        flex: auto;
        margin-right: 15px;
    }

    .post_text img {
        max-width: 300px;
    }

    .rightBar {
        display: none;
    }
}
